@import '../../../styles/settings';
@import '../../../styles/helpers';

.register-form-container {
  height: 100vh;
  @include alignMe(center, flex-start);
  padding-top: 5rem;
  .register-form {
    flex: 0.2;
    @include alignMe(center, center);
    flex-direction: column;
    .register-form-submit-bttn {
      margin: 1rem 0 0.6rem 0;
    }
    .register-form-register-url {
      cursor: pointer;
      color: $darkGrey;
    }
    .register-form-error-message {
      color: $red;
    }
  }
}
