@import '../../../styles/settings';
@import '../../../styles/helpers';

.dashboard-container {
  width: 40vw;
  .headline-container {
    @include alignMe(space-between, center);
  }
  .dashboard-table-container {
    max-width: inherit;
    margin: 0 auto;
    border: 1px solid $lightGrey;
    border-radius: 3px;
  }
}
