//colors
$white: #fff;
$black: #000;
$lightGrey: #b0bac9;
$darkGrey: #777777;
$main: #373d41;

//fonts
$font-family: 'Source Sans Pro', sans-serif;

$font-weight-regular: normal;
$font-weight-semibold: 600;
$font-weight-bold: bold;

$font-size-s: 0.8rem;
$font-size-md: 1rem;
$font-size-l: 1.2rem;
